@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@300;400;500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Merriweather:wght@300;400;700&display=swap');
@import url('/css/spacing.css');
@import url('/css/typography.css');
@import url('/css/colors.css');

:root {
  /* CSS HEX */
  --antique-ruby: #880d2eff;
  --cultured: #f6f6f6ff;
  --cornflower-blue: #7796cbff;
  --black: #111;
  --oxford-blue: #161b33ff;

  --primary: var(--oxford-blue);
  --secondary: var(--antique-ruby);
  --light: var(--cultured);
  --bg: var(--cultured);
  --text-on-bg: var(--black);
  --text-on-primary: var(--cultured);
  --border: 1px solid rgba(0, 0, 0, 0.1);
  --border-bottom: 1px solid var(--secondary);
  --shadow: 0px 8px 30px rgba(0, 0, 0, 0.12);
  --border-hover-color: var(--secondary);
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Oswald', sans-serif;
  background-color: var(--bg);
  color: var(--text-on-bg);
  scroll-behavior: smooth;
  font-weight: 300;
  overflow-x: hidden;
  line-height: 1.4;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'Oswald', sans-serif;
  font-weight: 500;
}

h1 {
  font-weight: 600;
}

hr {
  border-bottom: 1px solid var(--secondary);
  margin: 50px 0;
}

.text-center {
  text-align: center;
}

.font-weight-bold {
  font-weight: 600;
}
.font-weight-medium {
  font-weight: 500;
}

w-100 {
  width: 100% !important;
}
w-max-100 {
  max-width: 100% !important;
  overflow-x: hidden !important;
}

.align-items-center {
  align-items: center;
}

.justify-content-center {
  justify-content: center;
}

.text-center {
  text-align: center;
}

.d-inline {
  display: inline-block;
}

.d-flex {
  display: flex;
}

/*
------ 
Navbar
------ 
*/

.navbar {
  background-color: var(--bg);
  border-bottom: var(--border);
  padding-top: 0;
  padding-bottom: 0;
  position: sticky;
  left: 0;
  top: 0;
  z-index: 999;
  display: flex;
  align-items: center;
  width: 100%;
  height: 77px;
  max-width: 100%;
  overflow: hidden;
}

.navbar-nav {
  margin: 0;
  display: flex;
  list-style: none;
  padding: 20px;
  justify-content: center;
}

.logo-img {
  height: 70px;
  width: 70px;
  margin: 0 20px;
}

.nav-item {
  color: var(--text-on-bg);
  padding: 20px 20px;
  text-decoration: none;
}

.nav-item:hover {
  color: var(--black);
  border-bottom: 1px solid var(--secondary);
}

.active {
  color: var(--black);
  border-bottom: 1px solid var(--secondary);
}

.navbar-trigger {
  display: none;
  outline: none;
  background: transparent;
  float: right;
  color: var(--secondary);
  border: none;
  font-size: 40px;
  padding: 20px;
  margin-top: auto;
  margin-bottom: auto;
  cursor: pointer;
}

.overlay {
  pointer-events: none;
  display: none;
  position: fixed;
  width: 100vw;
  height: 100vh;
  max-height: 100vh;
  overflow-y: hidden;
  top: 0;
  right: 0;
  z-index: 1;
  visibility: hidden;
}
.overlay::after {
  content: '';
  position: absolute;
  border-radius: 50%;
  top: 0;
  right: 0;
  width: 50px;
  transform: scale(0);
  height: 50px;
  transition: all 0.5s ease;
  background: var(--light);
  transition-property: border-radius, transform;
}
.overlay.active {
  visibility: visible;
}
.overlay.active::after {
  transform: scale(100, 100);
}

.display-nav {
  opacity: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  z-index: 998;
  visibility: hidden;
  transition: all 0.3s ease;
  transition-property: opacity;
  transition-delay: 0.01s;
}

.display-nav.active {
  visibility: visible;
  opacity: 1;
}

.display-ul {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  margin: 0;
  padding: 0;
  list-style: none;
  z-index: 990;
}

.display-link {
  padding: 10px;
}

.display-item {
  font-weight: 300;
  text-align: center;
  text-decoration: none;
  color: var(--text-on-bg);
  position: relative;
  font-size: 50px;
  text-decoration: none;
  padding: 20px 20px;
  display: block;
  border-bottom: 1px solid var(--secondary);
}

/*
---- 
Home
*/

.welcome-page {
  display: flex;
}

.home-header {
  padding: 10px 0;
  font-weight: 400;
}

.home-header:after {
  content: ' ';
  display: block;
  width: 100px;
  height: 1px;
  margin: 20px 0 20px;
  background: var(--secondary);
}

.home-section {
  width: 90%;
  margin: auto;
  justify-content: center;
}

.section-header {
  padding: 40px 0;
}

.section-input {
  width: 100%;
  padding: 30px;
  border: none;
  margin: 0 auto;
  box-shadow: var(--shadow);
  transition: box-shadow 0.5s ease;
}

.home-img {
  max-width: 100%;
  object-fit: cover;
}

.annoncment {
  color: var(--light);
  padding: 30px;
}

@media (max-width: 781px) {
  .navbar-trigger {
    display: inline-block !important;
  }
  .nav-search {
    display: none;
  }
  .nav-item {
    display: none;
  }
  .overlay {
    display: block;
  }
}

/*
------ 
Footer
------ 
*/

.home-footer {
  margin: 0 0 auto auto;
  display: flex;
  justify-content: center;
  width: 100%;
  margin-bottom: 0.1rem;
  position: relative;
}

.footer-heading {
  padding-bottom: 20px;
  font-weight: 500;
}

.footer-adress {
  text-decoration: none;
  color: var(--black);
}

.footer-adress:hover {
  color: var(--secondary);
}

.social-icons {
  padding: 10px 0;
}

.social-icon {
  margin: 0 10px 0 0;
  color: var(--secondary);
  background-color: var(--light);
  display: inline-block;
  width: 38px;
  height: 38px;
  border-radius: 19px;
  line-height: 38px;
  font-size: 20px;
  text-align: center;
  -webkit-transition: all 0.1s;
  transition: all 0.1s ease-in-out;
  vertical-align: bottom;
}

.social-icon:hover {
  color: var(--light);
  background-color: var(--secondary);
}

.footer-btn {
  text-decoration: none;
  color: var(--black);
  float: right;
  border: 1px solid var(--secondary);
  padding: 10px;
  background: linear-gradient(to right, var(--secondary) 50%, transparent 50%);
  background-size: 200% 100%;
  background-position: right bottom;
  transition: all 0.3s ease-out;
}

.footer-btn:hover {
  background-position: left bottom;
  cursor: pointer;
  color: var(--light);
}

.happenings-text {
  width: 90%;
  margin-right: auto;
  margin-left: auto;
  color: var(--light);
  padding: 30px 0;
}

.happenings {
  text-decoration: none;
  border-top: 1px solid var(--light);
  color: var(--light);
  padding: 30px;
  font-weight: 500;
  justify-content: space-between;
}

.happenings:hover {
  cursor: pointer;
}

.happening-1 {
  background: linear-gradient(to right, #0d8867 50%, transparent 50%);
  background-size: 200% 100%;
  background-position: right bottom;
  transition: all 0.3s ease-out;
}

.happening-1:hover {
  background-position: left bottom;
}

.happening-2 {
  background: linear-gradient(to right, #0d2d88 50%, transparent 50%);
  background-size: 200% 100%;
  background-position: right bottom;
  transition: all 0.3s ease-out;
}

.happening-2:hover {
  background-position: left bottom;
}

.happening-3 {
  background: linear-gradient(to right, #880d2e 50%, transparent 50%);
  background-size: 200% 100%;
  background-position: right bottom;
  transition: all 0.3s ease-out;
}

.happening-3:hover {
  background-position: left bottom;
}

.happening-4 {
  border-bottom: 1px solid var(--light);
  background: linear-gradient(to right, #2e880d 50%, transparent 50%);
  background-size: 200% 100%;
  background-position: right bottom;
  transition: all 0.3s ease-out;
}

.happening-4:hover {
  background-position: left bottom;
}

/* 
-------
Studies 
-------
*/

.studies-header-img {
  width: 100%;
  height: 60vh;
  object-fit: cover;
  background-image: url('https://images.unsplash.com/photo-1460518451285-97b6aa326961?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1950&q=80');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
}

.studies-section {
  min-height: calc(100vh - 77px);
  height: 100%;
  padding: 1rem;
}

.studies-section h1 {
  font-weight: 500;
  font-size: 3em !important;
}

.study-card {
  position: relative;
  padding: 1rem;
  transition: all 0.2s ease;
  transition-property: color, background-color, border;
  cursor: pointer;
  background-color: transparent !important;
  color: #dddddd;
}

.study-card:after {
  content: '';
  bottom: 0;
  left: 0;
  position: absolute;
  display: flex;
  width: 70%;
  height: 5px;
  background: var(--secondary);
  z-index: 1;
  transform: scaleX(0);
  transform-origin: left;
  transition: transform 0.5s ease;
}

.study-card:hover::after {
  transform: scaleX(1);
}

.study {
  border-bottom: var(--border);
  font-family: 'Oswald', sans-serif;
}
.study:hover {
  cursor: pointer;
}
.study h2 .study h2:hover {
  text-decoration: underline;
}

@media screen and (min-width: 768px) {
  .studies-section {
    padding: 3rem 2rem;
  }
  .studies-header-img {
    height: 70vh;
  }
}

@media screen and (max-width: 768px) {
  .studies-section {
    font-size: 14px;
    min-height: 400px;
    height: auto;
  }
  .studies-section h2 {
    font-size: 1.5em;
  }
  .study-display {
    height: calc(100vh - 77px);
  }
}

/*
-------- 
About us 
-------- 
*/

.about-us {
  align-items: center;
  justify-content: center;
  width: 70%;
  margin: auto;
  padding: 10px;
}

.about-us-heading {
  padding: 100px 0;
  margin-right: 30%;
}

.about-us-heading:after {
  content: ' ';
  display: block;
  width: 100px;
  height: 1px;
  margin: 20px 0 0;
  background: var(--secondary);
}

.about-us-small-heading {
  padding: 20px 0;
  margin: 0 1rem;
}

.about-us-small-heading:after {
  content: ' ';
  display: block;
  width: 100px;
  height: 1px;
  margin: 20px 0 0;
  background: var(--secondary);
}

.about-us-txt {
  margin: 0 1rem;
}

.about-us-img {
  max-width: 100%;
  max-height: 100%;
  object-fit: cover;
  box-shadow: var(--shadow);
}

.gallery-img {
  width: 100%;
  height: 300px;
  object-fit: cover;
  box-shadow: var(--shadow);
  transition: all 0.5s ease-in-out;
}

.gallery-img:hover {
  cursor: pointer;
  transform: scale(1.01);
  opacity: 0.7;
}

.about-us-p1 {
  margin-right: 50%;
}

.about-us-p2 {
  margin-left: 50%;
}

@media (max-width: 1233px) {
  .about-us-heading {
    padding: 50px 0;
    margin-right: 0%;
  }
  .about-us-txt {
    padding: 30px 0;
  }
}

/*
-------
Join us
-------
*/

.join-us {
  padding: 20px;
}

.join-us-heading {
  padding: 10px;
}

.join-us-heading:after {
  content: ' ';
  display: block;
  width: 100px;
  height: 1px;
  margin: 10px 0 10px;
  background: var(--secondary);
}

.join-us-text {
  padding: 10px;
}

.form {
  margin-bottom: 50px;
  box-shadow: var(--shadow);
}

.form-content {
  padding: 30px;
}

.form-item {
  margin: auto;
}
.form-input {
  padding: 15px;
  width: 100%;
  border: 1px transparent;
  transition: box-shadow 0.5s ease;
}

@media screen and (min-width: 768px) {
  .form-input {
    width: 70%;
  }
}
@media screen and (max-width: 767px) {
  .form-item input,
  .form-item label {
    margin: auto;
  }
}

.form-input:hover,
textarea:hover,
.form-input:focus,
textarea:focus {
  box-shadow: var(--shadow);
  border: none;
}

textarea {
  resize: none;
}

.form-btn {
  border: 1px solid var(--secondary);
  padding: 10px;
  background: linear-gradient(to right, var(--secondary) 50%, transparent 50%);
  background-size: 200% 100%;
  background-position: right bottom;
  transition: all 0.3s ease-out;
}

.form-btn:hover {
  background-position: left bottom;
  cursor: pointer;
  color: var(--light);
}

.send-btn {
  border: 1px solid var(--secondary);
  padding: 10px;
  margin: 20px;
  background: linear-gradient(to right, var(--secondary) 50%, transparent 50%);
  background-size: 200% 100%;
  background-position: right bottom;
  transition: all 0.3s ease-out;
}

.send-btn:hover {
  background-position: left bottom;
  cursor: pointer;
  color: var(--light);
}

/*
------ 
Footer 
------ 
*/

.footer {
  height: 300px;
  background-color: var(--black);
}
