@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@300;400;500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Merriweather:wght@300;400;700&display=swap');
@import url('./spacing.css');
@import url('./typography.css');
@import url('./colors.css');

:root {
  /* CSS HEX */
  --antique-ruby: #880d2eff;
  --cultured: #f6f6f6ff;
  --cornflower-blue: #7796cbff;
  --black: #111;
  --oxford-blue: #161b33ff;

  --primary: var(--oxford-blue);
  --secondary: var(--antique-ruby);
  --light: var(--cultured);
  --bg: var(--cultured);
  --text-on-bg: var(--black);
  --text-on-primary: var(--cultured);
  --border: 1px solid rgba(0, 0, 0, 0.1);
  --shadow: 0px 8px 30px rgba(0, 0, 0, 0.12);
  --border-hover-color: var(--secondary);
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Oswald', sans-serif;
  background-color: var(--bg);
  color: var(--text-on-bg);
  scroll-behavior: smooth;
  font-weight: 300;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'Oswald', sans-serif;
  font-weight: 500;
}

h1 {
  font-weight: 600;
}

.text-center {
  text-align: center;
}

.font-weight-bold {
  font-weight: 600;
}
.font-weight-medium {
  font-weight: 500;
}

w-100 {
  width: 100% !important;
}
w-max-100 {
  max-width: 100% !important;
  overflow-x: hidden !important;
}

.align-items-center {
  align-items: center;
}

.text-center {
  text-align: center;
}

.d-inline {
  display: inline-block;
}

.d-flex {
  display: flex;
}

/*
------ 
Navbar
------ 
*/

.navbar {
  background-color: var(--bg);
  border-bottom: var(--border);
  padding-top: 0;
  padding-bottom: 0;
  position: sticky;
  top: 0;
  z-index: 999;
  display: flex;
  align-items: center;
  height: 105px;
}

.navbar-nav {
  margin: 0;
  display: flex;
  list-style: none;
  padding: 20px;
  justify-content: center;
}

.logo-img {
  height: 80px;
  width: 80px;
  margin: 10px 20px;
}

.nav-item {
  color: var(--text-on-bg);
  padding: 20px 20px;
  text-decoration: none;
}

.nav-item:hover {
  color: var(--black);
  border-bottom: 1px solid var(--secondary);
}

.active {
  color: var(--black);
  border-bottom: 1px solid var(--secondary);
}

.navbar-trigger {
  display: none;
  outline: none;
  background: transparent;
  float: right;
  color: var(--secondary);
  border: none;
  font-size: 40px;
  padding: 20px;
  margin-top: auto;
  margin-bottom: auto;
  cursor: pointer;
}

.nav-search {
  color: var(--secondary);
  font-size: 40px;
  padding: 30px;
  margin-top: auto;
  margin-bottom: auto;
  cursor: pointer;
  display: block;
  border-left: var(--border);
  height: 105px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.nav-search:hover {
  color: var(--cornflower-blue);
  background-color: black;
}

.overlay {
  position: fixed;
  width: 50px;
  height: 50px;
  top: 0;
  right: 0;
  border-radius: 50%;
  background: var(--light);
  transition: transform 0.5s;
  z-index: 1;
}

.overlay.active {
  transform: scale(100, 100);
}

.display-nav {
  opacity: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  z-index: 998;
  visibility: hidden;
  transition: all 0.3s ease;
  transition-property: opacity;
  transition-delay: 0.01s;
}

.display-nav.active {
  visibility: visible;
  opacity: 1;
}

.display-ul {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  margin: 0;
  padding: 0;
  list-style: none;
  z-index: 990;
}

.display-link {
  padding: 10px;
}

.display-item {
  font-weight: 300;
  text-align: center;
  text-decoration: none;
  color: var(--text-on-bg);
  position: relative;
  font-size: 50px;
  text-decoration: none;
  padding: 20px 20px;
  display: block;
  border-bottom: 1px solid var(--secondary);
}

/*
---- 
Home
---- 
*/

.home-header {
  padding: 10px 0;
  font-weight: 400;
}

.home-header:after {
  content: ' ';
  display: block;
  width: 100px;
  height: 1px;
  margin: 20px 0 20px;
  background: var(--secondary);
}

.home-section {
  padding: 100px 0;
  margin: auto;
  display: block;
  justify-content: center;
}

.section-header {
  padding: 40px;
  white-space: nowrap;
}

.section-input {
  width: 100%;
  padding: 20px;
  border: none;
  box-shadow: var(--shadow);
  transition: transform 1s;
}

.home-img {
  width: 100%;
  object-fit: cover;
}

.annoncment {
  color: var(--light);
  padding: 30px;
}

@media (max-width: 781px) {
  .navbar-trigger {
    display: inline-block !important;
  }
  .nav-search {
    display: none;
  }
  .nav-item {
    display: none;
  }
}
